// COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkgray: hsl(0, 0%, 55%);
$verydarkgray: hsl(0, 0%, 41%);

//FONTS
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Alata', sans-serif;
